body {  margin-top: 0px; margin-left: 0px; background-color: #FFFFFF; margin-right: 0px}
p {  font-family: "Hoefler Text", Georgia, "Times New Roman", Times, serif; font-size: 36px; color: #333333; text-decoration: none}
